.hoz {
	width: 100%;
	height: 20px;
	flex-flow: column nowrap;
}
.vert {
	width: 20px;
	height: 100%;
	flex-flow: row nowrap;
}
.control {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	position: absolute;
}
.control label {
	display: flex;
	position: static;
}
#northControl {
	top: 0px;
	left: 0px;
}
#southControl {
	bottom: 0px;
	left: 0px;
}
#eastControl {
	right: 0px;
	top: 0px;
}
#westControl {
	left: 0px;
	top: 0px;
}
#eastControl label {
	transform: rotateZ(90deg);
}
#westControl label {
	transform: rotateZ(-90deg);
}

#mainOut {
	display: flex;
	flex-flow: row nowrap;
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
}
