<div id=northControl class='control hoz' (click)='_nav.navigate(1)'><label>{{_nav.getNavigationControlString(1)}}</label></div>
<div id=southControl class='control hoz' (click)='_nav.navigate(2)'><label>{{_nav.getNavigationControlString(2)}}</label></div>
<div id=eastControl class='control vert' (click)='_nav.navigate(4)'><label>{{_nav.getNavigationControlString(4)}}</label></div>
<div id=westControl class='control vert' (click)='_nav.navigate(8)'><label>{{_nav.getNavigationControlString(8)}}</label></div>
<div id=mainOut>
	<router-outlet></router-outlet>
</div>
