div, canvas {
	display: flex;
}

#categoryHost {
	width: 100%;
	height: 100%;
}

#categoryHost, #categoryMain, .cell {
	align-items: center;
	justify-content: center;
}

#categoryMain {
	width: 80%;
	height: 80%;
	flex-flow: column nowrap;
}

.row {
	flex-flow: row nowrap;
	height: auto;
}
