div,label {
	display: flex;
}

#mainContainer, #westEastContainer, #content {
	height: 100%;
	width: 100%;
}

.arrow {
	justify-content: center;
}

.arrowVertical {
	width: 20px;
	min-height: 100%;
	max-height: 100%;
	writing-mode: vertical-lr;
}

.arrowHorizontal {
	min-width: 100%;
	max-width: 100%;
	height: 20px;
}

.arrowHorizontal > label {
	transform: rotate(90deg);
}

#mainContainer {
	flex-flow: column nowrap;
}

#westEastContainer {
	flex-flow: row nowrap;
}

#content {
}

#arrowN {
	top: 0px;
}

#arrowS {
	bottom: 0px;
}

#arrowE {
	right: 0px;
}

#arrowW {
	left: 0px;
}

.arrowNav {
	background: black;
	color: white;
}

.noArrowNav {
	visibility: hidden;
}
