body {
	position: absolute;
	margin: 0px;
	overflow: hidden;
}

#mainNavigation, #mainBackground, body {
	height: 100%;
	width: 100%;
}

#mainNavigation, #mainBackground {
	position: absolute;
}

#mainBackground {
	background: white;
}
