body {
	position: absolute;
	margin: 0px;
	overflow: hidden;
}

#entry, #background, body {
	height: 100%;
	width: 100%;
}

#entry {
	position: absolute;
}

#background {
	position: absolute;
	z-index: -1;
}
