[submodule "ElouiseWebsiteClient/src/assets/freelance-computing-logo"]
	path = ElouiseWebsiteClient/src/assets/freelance-computing-logo
	url = https://Khanable6@bitbucket.org/Khanable6/freelance-computing-logo.git
