#name {
	position: absolute;
	z-index: 100;
	right: 0px;
	top: 0px;
}

#footer, #header {
	width: 100%;
	position: fixed;
}

#header {
	top: 0px;
	height: 20px;
	left: 0px;
	background-color: red;
}

#footer, #menubar-trigger {
	height: 20px;
}

#footer {
	bottom: 18px;
	left: 0px;
}

#menubar-trigger {
	background-color: red;
	width: 100%;
	z-index: 50;
}

menubar-root {
	background-color: blue;
	display: block;
}

#menubar-bottom {
	background-color: blue;
	height: 10px;
}
