<div id=header>
	<label id=name>
		Elouise Haupt
	</label>
</div>
<background-root (renderAdd)='addToRenderList($event)' (renderRemove)='removeFromtRenderList($event)'></background-root>
<router-outlet></router-outlet>
<br>
<div id=footer (mouseout)=hideMenu()>
	<br>
	<div (mouseover)=showMenu() [@menubarTrigger]=menubarState>
		<div id=menubar-trigger></div>
		<menubar-root (renderAdd)='addToRenderList($event)' (renderRemove)='removeFromtRenderList($event)'></menubar-root>
		<div id=menubar-bottom></div>
	</div>
</div>
